/* #ifndef APP-NVUE */
@import '@/pagesP/static/icon/iconfont.css';
/* #endif */
.mini-icon-p {
    font-style: normal !important;
	/* #ifdef APP-NVUE */
	display: flex;
	/* #endif */
	/* #ifndef APP-PLUS */
	display: flex;
	flex-direction: column;
	justify-content: center;
	/* #endif */
}